*{ 
    margin: 0px;
    padding: 0px;
}
.containerMenu {

    width: 100%;
    height: 75px;    
    background-color: #3857bc;
    padding: 15px;

}
& .containerMenu nav a {
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
    text-decoration: none;
}

& .containerMenu nav a:hover{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background: black;
    border-radius: 16px;
}

main{
    width: 100%;

    & .containerBanner {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    & .containerBanner img{
        width: 70%;
        border-radius: 16px;
        box-shadow: 8px 8px 5px black;
    }

    & .containerBanner img:hover{
        width: 80%;
        transition: 2.0s;
        border-radius: 16px;
        box-shadow: 8px 8px 5px black;
    }
    .jornal{
        padding: 2vw;
        width: 35vw;
        display: flex;
        width: 60vw;
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-left: 17vw;
        margin-top: 2vw;
        margin-left: 20vw;
    }
        .jornal{
            background-color: white;
            border-radius: 0.8vw;
            overflow: hidden;
            box-shadow: 0 1.8vw 2vw rgba(255, 0, 0, 0.1);
        }
    .jornal img{
        width: 20vw;
        height: 20vw;
        object-fit: cover;
    }

    .jornal h3{
        font-size: 1.5vw;
        margin: 1vw;
    }

    .jornal p{
        font-size: 1vw;
        margin: 0 1.5vw 1.5vw;
        color: black;
    }
    .jornal a{
        color: inherit;
        text-decoration: none;
     }

     .jornal h3{
        color: #000000;
     }

}
